{
  "version": "1.0.1",
  "notes": "Correction de bugs et ajout du mode sombre.",
  "exe_url": "https://github.com/TON_UTILISATEUR_GITHUB/badringo-for-english/releases/download/v1.0.1/BadringoForEnglish.exe"
}
